@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-transition {
    @apply hover:bg-neutral-50 hover:text-neutral-950 transition-all duration-200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
