---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import { Projects } from '../data/projects';
import Spotify from '../components/Spotify';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />

  <main>
    <section class="flex flex-col gap-4 mb-6" aria-label="description">
      <p class="mb-2">
        Hi there, I'm Harsh. A CS Undergrad from India. I mostly do web
        development with <strong>
          Nextjs, TypeScript, Nodejs & Postgres.</strong
        >
      </p>
      <p>
        I am currently building a <a
          href="https://github.com/senbo1/twitter-clone"
          class="underline underline-offset-4 decoration-neutral-600 hover-transition"
          target="_blank"
          rel="noopener noreferrer">Twitter/X Clone</a
        > using Nextjs 14 and TypeScript. In my free time I like to watch anime,
        read manga and listen to music.
      </p>
    </section>

    <h2 class="text-2xl font-bold mb-2">Projects</h2>
    <section class="grid grid-cols-1 gap-4 sm:gap-6 sm:grid-cols-2 md:grid-cols-3 md:gap-x-6 mb-6">
      {Projects.map((project) => <Project {...project} />)}
    </section>

    <Spotify client:load/>
  </main>
   
  <Footer />
</Layout>
