---
---

<header class="flex justify-between items-center mb-4 mt-2">
  <div class="flex flex-col justify-between">
    <h1 class="text-xl font-bold">Senbo</h1>
  </div>
  <img src="/avatar.jpg" alt="avatar" class="w-20 mr-4 rounded-lg" />
</header>

<script>
  import '../scripts/hover.ts';
</script>

<style>
  h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>
