---
interface Props {
  href: string;
  target?: string;
  rel?: string;
}

const { href, target, rel } = Astro.props;
---

<a
  class="fill-neutral-500 hover:fill-white transition-all duration-200"
  {href}
  {target}
  {rel}
>
  <slot />
</a>
